name = "bl-storage-api"
main = "dist/worker.js"
compatibility_date = "2026-01-30"
compatibility_flags = ["nodejs_compat"]

[env.production]
workers_dev = true
routes = [
  { pattern = "api.blstorage.dev/*", zone_name = "blstorage.dev" }
]

[vars]
BL_SECRET_KEY = "{{BL_ENCRYPTION_KEY}}"
BL_MAX_STORAGE_MB = "1024"
BL_REPLICATION_FACTOR = "3"
BL_ENABLE_QUANTUM_INDEX = "true"

[build]
command = "npm run build"

[placement]
mode = "smart"
